<div class="offset-4 mt-5">
  <div class="d-flex"></div>
  @if(loginPage){
  <div id="loginp" class="col-5 border-success rounded-3 shadow bg-light p-5">
    <h2 (click)="VisibilityLogin()" class="m-2">Login</h2>
    <form class="col-12 mt-4">
      <div class="form-group">
        <label for="username">Username:</label>
        <div>
          <input
            type="text"
            id="username"
            [(ngModel)]="username"
            name="username"
            class="form-control"
            width="100%"
          />
        </div>
        <br />
        <label for="password">Password:</label>
        <div class="d-flex">
          <input
            type="password"
            type="{{ showPassword ? 'text' : 'password' }}"
            id="password"
            [(ngModel)]="password"
            name="password"
            class="form-control"
            style="width: 90%"
          /><i
            class="fa-regular fa-eye form-control"
            (click)="togglePasswordVisibility()"
          ></i>
        </div>
        <br />
        <button
          mat-flat-button
          color="primary"
          class="offset-4"
          (click)="login()"
        >
          Login
        </button>
        <div class="d-flex">
          <p class="m-3">Forget Password</p>
          <p class="m-3" (click)="VisibilityRegister()">Register</p>
        </div>
      </div>
    </form>
  </div>
  }@else {
  <div
    id="registerp"
    class="col-5 border-success rounded-3 shadow bg-light p-5"
  >
    <h2 class="m-2">Register</h2>
    <form class="col-12 mt-4">
      <div class="form-group">
        
        <label for="fullname">FullName:</label>
        <input
          type="text"
          id="fullname"
          [(ngModel)]="data.fullname"
          name="fullname"
          class="form-control"
        />
        <br />
        <label for="email">Email:</label>
        <input
          type="text"
          id="email"
          [(ngModel)]="data.email"
          name="email"
          class="form-control"
        />
        <br />
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          [(ngModel)]="data.username"
          name="username"
          class="form-control"
        />
        <br />
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          [(ngModel)]="data.password"
          name="password"
          class="form-control"
        />
        <br />
        <button
          mat-flat-button
          color="primary"
          class="offset-4"
          (click)="registerUser()"
        >
          Login
        </button>
      </div>
    </form>
  </div>
  }
</div>
