<div class="offset-4 mt-5" >
    <div class="d-flex">
        <h2 (click)="VisibilityLogin()" class="m-2"> Login</h2>
        <h2 (click)="VisibilityRegister()" class="m-2"> Register</h2>
    </div>
    @if(loginPage){
        <div id="loginp" class="col-5 border-success rounded-3 shadow bg-light p-5">
            <form class="col-12">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" formControlName="username" class="form-control"/>
                    <br />
                    <label for="password">Password:</label>
                    <input type="password" id="password" formControlName="password" class="form-control"/>
                    <br />
                    <button (click)="login()" >Login</button>
                </div>
            </form>
        </div>
    }@else {
        <div id="registerp" class="col-5 border-success rounded-3 shadow bg-light p-5">
            <form class="col-4">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" id="email" formControlName="email" class="form-control"/>
                    <br />
                    <label for="fullname">FullName:</label>
                    <input type="text" id="fullname" formControlName="fullname" class="form-control"/>
                    <br />
                    <label for="username">Username:</label>
                    <input type="text" id="username" formControlName="username" class="form-control"/>
                    <br />
                    <label for="password">Password:</label>
                    <input type="password" id="password" formControlName="password" class="form-control"/>
                    <br />
                    <button (click)="login()">Login</button>
                </div>
            </form>
        </div>

    }
   
    
  </div>