button{
    background-color: rgb(55, 204, 55);
}

.d-flex input {
    border-right: none;
    border-top-right-radius: none;
    border-bottom-right-radius: none;
    margin-right: -10px;
}

i{
    padding: 10px;
    background-color: white;
    border-left: none;
    width: 16%;

}
